@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Semibold.woff2');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Tektur';
    src: url('fonts/Tektur-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Play';
    src: url('fonts/Play.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jura';
    src: url('fonts/JuraBook.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
